<!-- contact.ejs - Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021 -->

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> page
  </p>

<form>    
<div class="mb-3">
<p class="font-monospace">Please provide information for any inquiries.</p>
  <label for="firstName" class="form-label">First Name</label>
  <input type="text" class="form-control" id="firstName" placeholder="First Name" tabindex="2">

  <label for="lastName" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="lastName" placeholder="Last Name" tabindex="4">

  <label for="contactNumber" class="form-label">Contact Number</label>
  <input type="text" class="form-control" id="contactNumber" placeholder="123-456-7890" tabindex="6">

  <label for="emailAddress" class="form-label">Email address</label>
  <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" tabindex="8">
  
  <label for="messageArea" class="form-label">Message</label>
  <textarea class="form-control" id="messageArea" rows="3" placeholder="Type your message here." tabindex="10"></textarea>

  <input name="submitForm" type="submit" value="Submit Form" tabindex="12">
  <input name="clearrForm" type="reset" value="Clear Form" tabindex="14">
</div>
</form>
  
<div class="container-fluid">
  <h4> My Contact Information
  </h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">tluzon1@my.centennialcollege.ca</li>
    </ul>
</div>

</div>  