<!-- projects.ejs - Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021 -->

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> page
  </p>

  <h4> Projects that are current and completed.
  </h4>

 
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\images\vaxapp.png" class="d-block w-100" alt="Context Flow Diagram of Vaccine App">
      <div class="carousel-caption d-none d-md-block">
        <h5>Vaccine App - Current</h5>
        <p>Current project in progress from COMP246.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="assets\images\webdes.png" class="d-block w-100" alt="My Web Home Page">
      <div class="carousel-caption d-none d-md-block">
        <h5>COMP213 Web Page - Completed</h5>
        <p>A Web Page from COMP213.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="assets\images\mp3play.jpg" class="d-block w-100" alt="My Mp3">
      <div class="carousel-caption d-none d-md-block">
        <h5>COMP123 MP3Player - Completed</h5>
        <p>MP3Player project from COMP123.</p>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>