<!-- footer.ejs - Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021  -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a id="copyright" class="navbar-brand" href="#">Copyright &copy; 2021 - Thedyson Luzon</a>
      </div>
    </nav>