<!DOCTYPE html>
<!-- index.ejs - Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021 -->
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/content/app.css' />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>

<div id="allPage">
  <body>
  <!-- header section -->
  <%- include('./components/header.ejs'); %> <!-- includes header partial -->

  <!-- header section -->

  <!-- Main Content -->
    <main>
   <%- include('./content/' + page + '.ejs'); %> <!-- includes main content partials -->
    </main>
  <!-- Main Content -->

  <!-- Footer Section -->
    <%- include('./components/footer.ejs'); %> <!-- includes footerr partial -->
  <!-- Footer Section -->

  <!-- Script Section -->
      <script src="/scripts/app.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/jquery/dist/jquery.min.js"></script>
  </body>
  
</div>

</html>