/* app.css Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021 */
#allPage {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#copyright {
	font-size: x-small;}


#customlogo {
	float: right;
	height: 50px;
}

#selfportrait {
    float: left;
}

