<!-- about.ejs - Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021  -->
<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> page
  </p>
  <p> My name is Thedyson Eduard Luzon. </p>
  <p> I was born in the Philippines, and now currently living in Toronto. </p>
  <p> Currently in the Software Engineering Technology program in Centennial College.</p>

  <p>Please click <a href="https://centennialcollegeedu-my.sharepoint.com/:b:/g/personal/tluzon1_my_centennialcollege_ca/EdPMxQQrWltEqIjy7ZzdhLwBxcfIe_dWi_JHXI8-iyprKA?e=Yp8jB8"> here </a> for my Resume. </p>
  <img id="selfportrait" src="assets\images\tluzonphoto.jpg" alt="My self-portrait.">
</div>