<!-- home.ejs - Thedyson Eduard Luzon - 301127562 - COMP229 - October 3, 2021 -->

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %> page
  </p>
  <div>
    <p> You can browse through my pages via the navigation bar. </p> 
    <p> Currently in the Software Engineering Technology Program in Centennial. </p>
    <h4>Mission Statement</h4>
    <p> I strongly believe that one can only lose when they stop trying.</p>
  </div>
</div>